@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyNetFlix</h1>
    <h6>Enjoy the best of movies online</h6>
    <video width="320" height="240" controls controlsList="nodownload">
        <source src="/videos/maami.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <br />
    <br />
    <br />
    @* <button class="btn btn-primary btn-lg">WATCH MORE ! ! !</button> *@
    <a class="btn btn-primary btn-lg" asp-controller="Auth" asp-action="Login">WATCH MORE ! ! !</a>
</div>
