@model MyNetFlix.Models.MoviesDTO

@{
    ViewData["Title"] = "UserHome";    
    var Categories = Model.Categories;
    var Movies = Model.Movies;
}

<div class="row">
    <div class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 500px">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Categories</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            @foreach (var cat in Categories)
            {
                <li>
                    <a class="nav-link text-white" href="/Home/UserHome?category=@cat">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        @cat
                    </a>
                </li>
            }
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>user@netflix.com</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="col-10 bg-info p-8" style="width: 1050px; height: 500px">
        <div style="height: 5px"></div>
        <div class="row">
            @foreach (var movie in Movies)
            {
                <div class="card m-3" style="width:480px">
                    @* <img class="card-img-top" src="img_avatar1.png" alt="Card image"> *@
                    @* <video class="card-img-top" width="320" height="240" controls controlsList="nodownload"> *@
                    <video class="card-img-top" width="480" height="360" controls controlsList="nodownload">
                        <source src="/videos/@movie.Filename" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <h4 class="card-title">@movie.Title</h4>
                        <p class="card-text"><strong>Producer:</strong> @movie.Producer | <strong>Year:</strong> @movie.Year</p>
                    </div>
                </div>

            }

        </div>
        
    </div>

</div>



@*  @model MyNetFlix.Models.MoviesDTO

@{
    ViewData["Title"] = "UserHome";
    //C# codes here, Var initialization
    var Categories = Model.Categories;
    var Movies = Model.Movies;

}

<div class="row">
    <div class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Movies Home</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            @foreach (var cat in Categories)
            {
                <li>
                    <a class="nav-link text-white" href="/Home/UserHome?category=@cat">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        @cat
                    </a>
                </li>
            }
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="offset-2 col-10">
        @foreach (var movie in Movies)
        {
            <video width="320" height="240" controls controlsList="nodownload">
                <source src="/videos/@movie.Filename" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
    </div>

</div>   *@